.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.quebrar {
  background-color: white;
  color: orange;
  border: 2px solid orange;
  margin-top: -250px;
}

.quebrar:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.reiniciar {
  background-color: white;
  color: black;
  border: 2px solid black;
}
